*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: lightslategray;
  font-family: sans-serif;
  min-height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  list-style: none;
}

.weather {
  background: pink;
  text-align: center;
}

.weather__header {
  color: blue;
  /*and lot more styles 20 lines */
  font-size: 2rem;
}

.weather__cards {
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.weather__card {
  width: 5rem;
  height: 7rem;
  background: greenyellow;
  margin: 1rem;
}
